<div class="top-nav">
    <a routerLink="/help-page" class="help">Help</a>
    <p></p>
    <a routerLink="/signin-page" class="sign-in">Sign In</a>
</div>
<nav>
    <div class="logo">
        <img src="/app/img/audible_logo.svg" alt="logo">
    </div>
    <div class="main-menu">
        <ul class="list">
            <li class="menu-item"><a routerLink="/home">Home </a></li>
            <li class="menu-item"><a href class="#">Browser <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg> </a>
            <div class="hidden-content">
              <h1>Audiobook Categories</h1>
              <ul class="dropdown">
                <div class="drop-item">
                    <li><a href="#">Fiction</a></li>
                    <li><a href="#">Sci-Fi & Fantasy</a></li>
                    <li><a href="#">Mysteries & Thrillers</a></li>
                    <li><a href="#">Romance </a></li>
                    <li><a href="#">Classics</a></li>
                    <li><a href="#">Teen & Young Adult</a></li>
                    <li><a href="#">Religion & Spirituality</a></li>
                </div>
                <div class="drop-item">
                    <li><a href="#">Self-Development</a></li>
                    <li><a href="#">Biographies & Memoirs</a></li>
                    <li><a href="#">Children's Audiobooks</a></li>
                    <li><a href="#">Politics & Social Sciences</a></li>
                    <li><a href="#">Free for Members </a></li>
                    <li><a href="#">Hindi Audiobooks </a></li>
                    <li><a href="#">Popular Features </a></li>
                </div>
              </ul>
            </div>
            
            
            
            
            
            </li> 
            <li class="menu-item"><a routerLink="/member-page">About Membership </a></li>
        </ul>
    </div>
    <div class="form">
        <input type ="search" name="search" id="search" placeholder="Search for a great book" aria-label="Search">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
    </div>
</nav>